
h1{
  color:white;
  font-family:sans-serif;

}
h2{
  color:white;
  font-family:sans-serif;


}
h3{
  color:white;
  font-family:sans-serif;


}
p{
  color:white;
  font-family:sans-serif;
  margin-right: 100px;
  margin-left: 100px;

}
