
h1{
  color:white;
  font-family:sans-serif;

}
h2{
  color:white;
  font-family:sans-serif;
  margin-left: 5px;
  margin-right: 5px;

}
h3{
  color:white;
  font-family:sans-serif;
  margin-left: 5px;
  margin-right: 5px;

}
p{
  color:white;
  font-family:sans-serif;

}
body
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
